{% extends 'base.html.twig' %}

{% block title %}Une autre page{% endblock %}

{% block body %}
<h1>Une autre page</h1>
<h2>Juste une autre page</h2>
<p>Histoire de voir qu'avec Turbo Drive on n'a pas de rechargement de page!</p>
{% endblock %}
