
@import 'utils';

body {
    margin: 0;
    background-color: $dark-color;
    min-height: 100vh;
}
header {
    display: none;
}

footer {
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: $light-color;
    &#desktop {
        display: none;
    }
    &#mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

img {
    width: 100%;
    border-radius: 6px;
}
button, .button {
    cursor: pointer;
    margin: 6px;
    padding: 6px;
    border: $dark-color solid;
    background-color: transparent;
    box-shadow: $dark-color 1px 1px 2px;
    display: inline;
    border-radius: 6px;
    &, a {
        color: $dark-color;
        text-decoration: none;
    }
    &:hover {
        box-shadow: $dark-color 2px 2px 2px;
    }
}

#homepage-picture-container {
    position: relative;
    text-align: center;
    color: $light-color;
    height: calc(100vh - 50px);
    img {
        height: 100%;
        object-fit: cover;
    }
    h1, a {
        position: absolute;
    }
    h1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: $dark-color 0px 0px 5px;
    }
    a {
        bottom: 20px;
        right: 20px;
    }
}

main.trick-page {
    position: relative;
    height: calc(100vh - 50px);
    #trickpage-picture-container {
        display: none;
    }
}
#trick-container {
    position: absolute;
    height: 100%;
    min-width: 80vw;
    overflow-y: auto;
    border: $colored-color solid 3px;
    background-color: $dark-color;
    #see-more {
        color: $light-color;
        border-color: $light-color;
        margin: 5px auto;
        display: block;
        max-width: 80vw;
        text-align: center;
    }
    #other-trick-pictures {
        display: flex;
        overflow-x: auto;
        &>div {
            background-color: $light-color;
            margin: 6px;
            padding: 6px;
            flex: 1 0 150px;
            button {
                background-color: $dark-color;
            }
        }
        .medium-container {
            display: flex;
        }
    }
    #trick-infos {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        margin: 16px auto;
        color: $light-color;
        h1, p {
            margin-top: 0px;
        }
    }
}

#add-trick-button {
    background-color: $light-color;
    padding: 1rem 3rem;
    margin: 1rem 3rem;
    text-align: center;
    box-shadow: $light-color 0px 0px 16px;
    display: block;
    &:hover {
        box-shadow: $light-color 0px 0px 18px;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    .trick-card {
        display: flex;
        flex-direction: column;
        background-color: $light-color;
        margin: 1rem;
        flex: 1 0 250px;
        max-width: 500px;
        box-shadow: $light-color 0px 0px 16px;
        border-radius: 6px;
        &>div {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            align-items: center;
        }
        img {
            height: 150px;
            object-fit: cover;
        }
    }
    #trick-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1000;
        background-color: #00000080;
        
    }
}

form {
    margin: 1rem;
    color: $light-color;
    > div:not(.container-form-trick-pictures) {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        > label {
            display: block;
        }
    }
    .form-trick-pictures {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .form-trick-picture {
            flex: 0 1 250px;
            margin: 1rem;
            padding: 1rem;
            background-color: white;
            color: black;
            button {
                color: black;
            }
            > div > div:not([hidden=""]) {
                display: flex;
                margin: 1rem;
                label {
                    padding: 8px;
                    flex: 1 0 20%;
                }
                select, input {
                    flex: 1 0 80%;
                }
                
            }
            img {
                height: auto;
            }
        }
    }
    button {
        color: $light-color;
        border-color: $light-color;
        box-shadow: $light-color 1px 1px 2px;
        &:hover {
            box-shadow: $light-color 2px 2px 2px;
        }
    }
}

#trick-comments {
    background-color: $light-color;
    padding: 1rem;
    margin: 2rem;
    border-radius: 4px;
    .comment {
        border: $colored-color 2px solid;
        border-radius: 4px;
        margin: 1rem auto;
        max-width: 275px;
        padding: 1rem;
        > div:first-child {
            text-align: right;
            font-size: small;
            border-bottom: $colored-color 1px solid;
            margin-bottom: 8px;
        }
        div:last-child {
            display: flex;
            > div:first-child {
                border-right: $colored-color 1px solid;
                min-width: 50px;
                padding-right: 8px;
                margin-right: 8px;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: small;
            }
        }
    }
    form {
        > div {
            flex-direction: column;
            align-items: center;
        }
        button {
            color: $dark-color;
            border-color: $dark-color;
        }
    } 
}

#registration-page, #login-page {
    max-width: 500px;
    padding: 1rem;
    margin: auto;
    min-height: calc(100vh - 140px);
    h1 {
        color: $light-color;
    }
}
#login-page {
    #logged-message {
        display: block;
        a {
            color: $light-color;
        }
    }
    .row {
        display: flex;
        margin: 1rem;
        label {
            padding: 8px;
            flex: 1 0 20%;
        }
        input {
            flex: 1 0 80%;
        }
    }
}

@media screen and (min-width: 900px) {
    img {
        max-height: 500px;
        object-fit: contain;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $light-color;
        border: $colored-color solid 3px;
        height: 90px;
        div {
            margin: 1rem;
            p {
                font-size: 2rem;
                padding: 0;
                margin: 0;
            }
            &:last-child {
                align-items: end;
                display: flex;
            }
        }
        #logo {
            font-size: 80px;
            text-decoration: none;
        }
    }

    footer {
        &#desktop {
            display: flex;
        }
        &#mobile {
            display: none;
        }
    }

    main.trick-page {
        position: relative;
        height: calc(100vh - (90px + 50px));
        #trickpage-picture-container {
            position: relative;
            text-align: center;
            color: $light-color;
            height: 100%;
            img {
                max-height: 100%;
                object-fit: cover;
            }
        }

        #trick-container {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 90vh;
        }
    }

    form > div:not(.container-form-trick-pictures) {
        flex-direction: row;
        > label {
            width: 20%;
        }
        > input, textarea {
            width: 80%;
        }
        #trick_groups {
            label {
                width: 20%;
            }
        }
    }
}