<turbo-stream action="replace" target="trick-{{ id }}">
    <template>
        <div class="trick-card">
            <h3>La figure {{ name }} a bien été supprimée.</h3>
        </div>
    </template>
</turbo-stream>