{% extends 'base.html.twig' %}

{% block title %}Trick: {{ trick.name }}{% endblock %}

{% block body %}
<main class="trick-page">
    {# header / background when page is not turbo loaded #}
    <div id="trickpage-picture-container" >
        <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
    </div>

    <div id="modal-{{ trick.id }}" class="trick-modal">
        <div id="trick-container">
            {% block trickBody %}{% endblock %}
        </div>
    </div>
</main>
{% endblock %}
