{% extends 'base.html.twig' %}

{% block title %}Trick: ajouter une nouvelle figure{% endblock %}

{% block body %}
<main class="trick-page">
    <div id="trickpage-picture-container" >
        <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
    </div>

    <turbo-stream action="append" target="cards-container">
        <template>
            <div id="modal-new" class="trick-modal">
                <div id="trick-container">
                    {% include "trick/_form.html.twig" %}
                </div>
            </div>
        </template>
    </turbo-stream>
</main>
{% endblock %}
